@import '~antd/dist/antd.css';

#root {
  min-height: 100%;
  display: flex;
}

.app-content {
  padding: 50px;
}

.router-switch-wrap {
  background: #fff;
  padding: 24px;
  height: 100%;
}

.ant-layout {
  min-height: 100%;
}