.task-item {
  margin: 10px 0;
  .title {
    font-size: 20px;
  }
  .task-container {
    display: flex;
    width: 100%;
    h1,h2,h3,h4,h5,h6 {
      margin: 0;
      padding: 0;
    }
    p {
      margin: 0;
      padding: 0;
    }
    .task-max-score {
      border: 1px solid;
      text-align: center;
      width: 75px;
      height: 100px;
      font-size: 16px;
    }
    .task-description {
      width: 80%;
      margin: 0 20px;
      text-align: justify;
      .task-title {
        font-size: 16px;
      }
    }
    .ant-form-item {
      width: 300px;
      label {
        font-size: 16px;
      }
      .ant-select {
        font-size: 16px;
      }
    }
    .radio-group {
      display: flex;
      margin-left: auto;
      .ant-radio-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          text-align: center;
        }
      }
    }
  }
}

