.task-container {
  display: flex;
  width: 100%;
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .task-max-score {
    border: 1px solid;
    text-align: center;
  }
  .task-description {
    width: 80%;
    margin-left: 20px;
  }
  .radio-group {
    display: flex;
    margin-left: auto;
    .ant-radio-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        text-align: center;
      }
    }
  }
  
}